<h1>Basketball</h1>
{% if error_message %} <p><strong>{{ error_message }}</strong>
</p>{% endif %}
<h2>Wurfeintragung</h2>
<form action="{% url 'input' %}"
      method="post">
    {% csrf_token %}
    {% for player in players %}
        <input type="radio" name="player" id="player{{ forloop.counter }}"
               value="{{ player.id }}" />
        <label for="player{{ forloop.counter }}">
            {{ player.player_name }}
        </label><br />
    {% endfor %}
    </br>
    {% for score in scores %}
        <input type="radio" name="score" value="{{ score }}" />
        <label>{{ score }}</label>
    {% endfor %}
    <p></p>
    </br>
    <input type="submit" value="Wurf eintragen">
</form>

{% if latest_throws_list %}
<h2>Die heutigen Würfe:</h2>
    <ul>
    {% for throw in latest_throws_list %}
        <li>{{ throw }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Keine Würfe bislang heute.</p>
{% endif %}
{% if show_eval_button %}
    <form action="{% url 'next_round' round_nr %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Ende Runde 1"/>
    </form>
{% endif %}