<h1>Runde {{ round_nr_display }}</h1>
{% if error_message %} <p><strong>{{ error_message }}</strong>
</p>{% endif %}



<h2>Wurfeintragung</h2>
<form action="{% url 'next_round_input' round_nr %}"  method="post">
    {% csrf_token %}
    {% for player in players %}
        {{ player.player_name }}
        {% for score in scores %}
        <input type="radio" name="{{ player.id }}" value="{{ score }}" />
        <label>{{ score }}</label>
        {% endfor %}</br>

    {% endfor %}

    <input type="submit" value="ThrowInput">
</form>

